* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(177, 220, 189);
}

button {
    background-color: rgb(212, 174, 46);
    border: 10px solid rgb(212, 174, 46);
    color: white;
    font-size: large;
    border-radius: 10px;
}

.hide {
    display: none;
}

#intro-page {
    text-align: center;
    color: rgb(18, 127, 142);
    font-size: large;
}

#view-high-score {
    color: purple;
    background-color: rgb(177, 220, 189);
    border-color: rgb(177, 220, 189);
}

#timer {
    color: purple;
    text-align: end;
    position: absolute;
    top: 1.5em;
    right: 2em;
}

#question {
    text-align: center;
    padding: 10px;
    color: rgb(18, 127, 142);
    font-size: 30px;
}

#answer-options {
    text-align: center;
    padding-top: 10px;
}

#results-page {
    padding: 50px;
    text-align: center;
    color: rgb(18, 127, 142);
}

#game-over {
    font-size: 40px;
    font-weight: bolder;
}

#enter-initials {
    padding-top: 20px;
}

#high-scores {
    color: rgb(18, 127, 142);
    text-align: center;
    font-size: 40px;
}

.high-score-buttons {
    color: rgb(18, 127, 142);
    text-align: center;
}

#high-score-list {
    color: rgb(18, 127, 142);
    font-size: 30px;
/* margin-left: 600px; */
}
